.header {
    
    &__block{
        width: 100%;
        height: 116px;
        padding: 0 35px 0 80px;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        background: white;
        @include flex (space-between, center);
    }

    @media screen and (max-width: $breakpoint-md){

        &__block{
            height: 80px;
            padding: 0 15px 0 60px;
        }

    }
    @media screen and (max-width: $breakpoint-sm){

        &__block{
            height: 60px;
            padding: 0 15px 0 30px;
        }

    }

}

.menu {
    &__list{
        display: flex;
    }
    @media screen and (max-width: $breakpoint-sm){

        &__list{
                display: none;
            }
            
    }
    &__item {   
        font-size: $fs-18;
        padding-right: 30px;
        
        &:last-child{
            padding-right: 0;
        }
        &:hover{
            @include link-hover;
        }
    }
        
}
